@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    background: #000021;
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
}

header {
    /*ヘッダーを固定*/
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background: #000021;
}

.nineteen-text {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateX(-60%) translateY(calc(50% - 80px));
    padding: 5px;
    margin-top: 60px;
}

header h1 {
    color: #7856ff;
    font-size: 22px;
}

#hamburger {
    display: block;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 44px;
    cursor: pointer;
    transition: 1s;
}

.inner_line1 {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: .38s;
    border-radius: 4px;
    margin: 10px 0;
}

.inner_line2 {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: .38s;
    border-radius: 4px;
    margin: 20px 0;
}

.inner_line3 {
    display: block;
    position: absolute;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: .38s;
    border-radius: 4px;
    margin: 30px 0;
}

.in {
    transform: translateX(100%);
}

.line_1,
.line_2,
.line_3 {
    background: #fff;
    padding: 0 10px;
}

.line_1 {
    /*-45度回転させる*/
    transform: rotate(-55deg);
    top: 10;
}

.line_2 {
    opacity: 0;
}

.line_3 {
    /*45度回転させる*/
    transform: rotate(55deg);
    bottom: 0;
}

#nav {
    position: absolute;
    top: 0;
    /*ナビメニューを左に隠した状態になる*/
    left: -40%;
    width: 40%;
    height: 100vh;
    background: #000021;
    color: #fff;
    /*０.7秒かけてナビメニューがスライドする*/
    transition: .38s;
}

@media screen and (max-width: 768px) {
    #nav {
        position: absolute;
        top: 0;
        /*ナビメニューを左に隠した状態になる*/
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #000021;
        color: #fff;
        /*０.7秒かけてナビメニューがスライドする*/
        transition: .38s;
    }
}

#nav ul {
    padding-top: 80px;
}

#nav ul li {
    list-style-type: none;
    font-size: 20px;
}

#nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
}

#nav li a:hover {
    color: #aaa;
    background: #7856ff;
    border-bottom: none;
}

.myapps {
    text-align: center;
    padding: 0.7vh;
}

.applinks {
    display: flex;
    justify-content: center;
}

.twitter-com {
    text-align: center;
    padding: 2vh;
    height: 660px;
}


::selection {
    background: #7856ff;
    color: #000;
}


.container-main {
    color: #fff;
    padding: 10px;
}

/* 水平スクロール */
.section {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.section__item {
    scroll-snap-align: center;
    flex: 0 0 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.context {
    width: 100%;
    position: absolute;
    background-color: #000021;
}


.container-main-left-img {
    display: flex;
    justify-content: center;
    padding: 4vh;
}

.container-main-left-img img {
    border-radius: 50%;
    height: 300px
}

.container-routng img {
    border-radius: 50%;
    height: 300px
}

.links {
    display: flex;
    justify-content: center;
    padding: 0.7vh;
}

.linkbox {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.linktext {
    font-size: 25px;
    padding: 2vh;
    text-align: center;
    text-decoration: none;
    color: #7856ff;
}

.share {
    font-size: 20px;
    padding: 2vh;
    color: #fff;
}

.linktext:hover {
    color: #fff;
    transition: all 0.5s;
}

.area {
    background: #000021;
    background: linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
}

.footer {
    text-align: center;
    padding: 2vh;
    color: #fff;
    background-color: #000;
}
.maintext {
    color: #fff;
    text-align: center;
    font-size: 30px;
}
#introduction {
    color: #bbaaff;
    text-align: center;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}